<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content [formGroup]="dbService.formDataBase">
  <div *ngIf="action == 'Agregar BD'">
    <mat-form-field>
      <input placeholder="Nombre Base de Datos" matInput formControlName="Name">
    </mat-form-field>
    <br>
  </div>
  <div *ngIf="action == 'Agregar Disco'">
    <mat-form-field>
      <input placeholder="Tamaño del disco" matInput formControlName="tamaño">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Crecimiento del disco" matInput formControlName="crecimiento">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Tamaño máximo" matInput formControlName="tMaximo">
    </mat-form-field>
    <mat-form-field>
      <input placeholder="Porcentaje de uso" matInput formControlName="uso">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-flat-button class="addButton" (click)="save()">Agregar</button>
  <button mat-button mat-flat-button class="cancelButton" (click)="close()" color="warn">Cancelar</button>
</div>
