<div class="content">
  <h2>Gestor de Almacenamiento de Bases de Datos</h2>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-form-field>
        <mat-label>Bases de datos</mat-label>
        <mat-select [(ngModel)]="currentDB">
          <mat-option *ngFor="let db of dataSource.subjectDataBases.value" [value]="db.database_id">
            {{db.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" style="margin: 0%" aria-label="Add button" (click)="openDialog('Agregar BD')">
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button style="color:green" aria-label="Add button" (click)="getDBs()">
        <mat-icon>autorenew</mat-icon>
      </button>
      <button mat-flat-button color="primary" class="consultaButton" (click)="consultarDiscos()">
        Consultar
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">

    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="button-tile">
      <button mat-flat-button color="primary">
        Agregar Filegroups
      </button>
      <button mat-flat-button color="primary">
        Agregar Discos
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-card>
    <div>
   <mat-table  #table [dataSource]="diskDataSource" [class.isMobile] matSort>
    <ng-container matColumnDef="Disco"> 
        <mat-header-cell *matHeaderCellDef mat-sort-header>Disco</mat-header-cell>
        <mat-cell *matCellDef="let element" data-label="Disco">{{element.name}}</mat-cell>
      </ng-container>
    <ng-container matColumnDef="Cresimiento">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Cresimiento</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Cresimiento">{{element.growth}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Tamaño">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tamaño</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Tamaño">{{element.size}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Tamaño Maximo">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Tamaño Maximo</mat-header-cell>
      <mat-cell *matCellDef="let element" data-label="Tamaño Maximo">{{element.max_size}}</mat-cell>
    </ng-container>-->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>
</mat-card>