<div class="content">
  <h2>Gestor de Almacenamiento de Bases de Datos</h2>
  <mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-form-field>
        <mat-label>Bases de datos</mat-label>
        <mat-select>
          <mat-option value="bd1">BD 1</mat-option>
          <mat-option value="bd2">BD 2</mat-option>
          <mat-option value="bd3">BD 3</mat-option>
          <mat-option value="bd4">BD 4</mat-option>
          <mat-option value="bd5">BD 5</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button color="primary" aria-label="Add button" (click)="openDialog('Agregar BD')">
        <mat-icon>add</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">

    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" class="button-tile">
      <button mat-flat-button color="primary">
        Agregar Filegroups
      </button>
      <button mat-flat-button color="primary">
        Agregar Discos
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-card>
    <table mat-table  class="mat-elevation-z8">

      <!-- Columna Información -->
      <ng-container matColumnDef="informacion">
        <th mat-header-cell *matHeaderCellDef> Discos </th>
        <td mat-cell *matCellDef="let element"> 
          {{element.disco}}
          {{element.tamano}}
          {{element.crecimiento}}
          {{element.maximo}}
          {{element.uso}}% </td>
      </ng-container>
        
      <!-- Columna Gráfica -->
      <ng-container matColumnDef="grafica">
        <th mat-header-cell *matHeaderCellDef> Gráfico </th>
          <!--<app-charts></app-charts>-->
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>
      
      <!-- Columna Acciones -->
      <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row" class="actions-col">
            <button class="editButton" mat-icon-button (click)="openDialog(row, 'Editar')"
              matTooltip="Editar el conjunto" matTooltipPosition="above">
              <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
            </button>
          </td>
        </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>
</div>